@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
}
body {
  font-family: 'ヒラギノ角ゴシック', 'Hiragino Sans', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.cfx:after,
.page-end .qr-area {
  content: "";
  display: block;
  clear: both;
}
.flL,
.page-sixth ul li .left,
.page-seventh ul li .left,
.page-end .qr-area .text-area,
.page-end .qr-area .image-area {
  float: left;
}
.flR,
.page-sixth ul li .right,
.page-seventh ul li .right {
  float: right;
}
.txL,
.page-third-title,
.page-sixth ul li .right .text,
.page-seventh ul li .right .text {
  text-align: left;
}
.txC,
h1,
h2,
h3,
h4,
h5,
h6,
.page .page-num,
.page-second ul li,
.page-third,
.page-fourth,
.page-fifth,
.page-sixth,
.page-seventh,
.page-eighth,
.page-ninth,
.page-end h2 {
  text-align: center;
}
.txR {
  text-align: right;
}
.tab1 {
  padding-left: 20px;
}
.tab2 {
  padding-left: 40px;
}
.tab3 {
  padding-left: 60px;
}
ol.cfx li,
ul.cfx li {
  float: left;
}
ol {
  list-style: none;
}
strong {
  font-weight: bold;
  color: #009365;
  font-size: 1.2em;
}
.pc-display {
  display: block;
}
.sp-display,
.sp-indisplay {
  display: none;
}
@media (min-width: 767px) {
  .pc-block {
    display: block;
  }
  .pc-inblock {
    display: inline;
  }
}
@media (max-width: 767px) {
  .sp-block {
    display: block;
  }
  .pc-display,
  .pc-indisplay {
    display: none;
  }
  .sp-display {
    display: block;
  }
  .sp-indisplay {
    display: inline-block;
  }
}
#wrap {
  width: 100%;
  min-width: 1100px;
  height: 100vh;
  background: url("../img/table.jpg") no-repeat center;
  background-size: 100% 100%;
}
#flipbook {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  width: 1000px !important;
  height: 600px !important;
  margin: auto !important;
  margin-left: auto !important;
}
.red-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5px;
  background: #f00;
}
.green-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5px;
  background: #0f0;
}
.blue-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5px;
  background: #00f;
}
.page {
  background: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
}
.page .page-num {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  font-size: 13px;
}
.page-first {
  background: #009365;
  color: #fff;
}
.page-first .img {
  width: 50%;
  margin: 0 auto;
}
.page-first .img img {
  width: 100%;
  border: 2px solid #000;
  box-sizing: border-box;
}
.page-first h1 {
  font-size: 30px;
  margin: 120px 0 0;
}
.page-first h2 {
  font-size: 25px;
  margin: 40px 0 80px;
}
.page-second h2 {
  font-size: 35px;
  margin: 50px 0;
}
.page-second ul li {
  margin: 100px 0;
  font-size: 25px;
}
.page-second ul li span {
  padding: 0 0 5px;
}
.page-second ul li span.red {
  border-bottom: 3px solid #f00;
}
.page-second ul li span.green {
  border-bottom: 3px solid #0f0;
}
.page-second ul li span.blue {
  border-bottom: 3px solid #00f;
}
.page-third h2 {
  display: inline-block;
  font-size: 35px;
  margin: 50px 0 25px;
  padding: 0 0 5px;
  border-bottom: 3px solid #f00;
}
.page-third-title {
  padding: 10px 25px;
  font-size: 16px;
  line-height: 1.4;
}
.page-third h3 {
  display: inline-block;
  font-size: 25px;
  margin: 25px 0;
  padding: 0 0 5px;
  border-bottom: 3px solid #f00;
}
.page-third h4 {
  display: inline-block;
  font-size: 20px;
  margin: 0 0 15px;
}
.page-third .step01 .img {
  width: 50%;
  margin: 0 auto;
}
.page-third .step01 .img img {
  width: 100%;
  border: 2px solid #000;
  box-sizing: border-box;
}
.page-fourth h4,
.page-fifth h4 {
  display: inline-block;
  font-size: 20px;
  margin: 30px 0 15px;
}
.page-fourth h4:first-child,
.page-fifth h4:first-child {
  margin: 40px 0 15px;
}
.page-fourth h4.more,
.page-fifth h4.more {
  margin: 60px 0 15px;
}
.page-fourth .step02 .img,
.page-fifth .step02 .img,
.page-fourth .step03 .img,
.page-fifth .step03 .img,
.page-fourth .step04 .img,
.page-fifth .step04 .img,
.page-fourth .step05 .img,
.page-fifth .step05 .img {
  width: 50%;
  margin: 0 auto;
}
.page-fourth .step02 .img img,
.page-fifth .step02 .img img,
.page-fourth .step03 .img img,
.page-fifth .step03 .img img,
.page-fourth .step04 .img img,
.page-fifth .step04 .img img,
.page-fourth .step05 .img img,
.page-fifth .step05 .img img {
  width: 100%;
  border: 2px solid #000;
  box-sizing: border-box;
}
.page-sixth h2,
.page-seventh h2 {
  display: inline-block;
  font-size: 35px;
  margin: 50px 0 25px;
  padding: 0 0 5px;
  border-bottom: 3px solid #0f0;
}
.page-sixth ul li,
.page-seventh ul li {
  position: relative;
  width: calc(100% - 30px);
  height: 200px;
  margin-bottom: 40px;
  border-radius: 50%;
  margin-left: 30px;
  margin-right: 40px;
}
.page-sixth ul li:after,
.page-seventh ul li:after {
  content: "";
  display: block;
  clear: both;
}
.page-sixth ul li .right,
.page-seventh ul li .right {
  width: calc(100% - 200px);
}
.page-sixth ul li .right .text,
.page-seventh ul li .right .text {
  font-size: 17px;
  padding: 40px 20px 0 20px;
  line-height: 2;
}
.page-sixth ul li .left,
.page-seventh ul li .left {
  width: 200px;
}
.page-sixth ul li img,
.page-seventh ul li img {
  width: 200px;
  border: 2px solid #000;
  border-radius: 50%;
  box-sizing: border-box;
}
.page-sixth ul li .mask,
.page-seventh ul li .mask {
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 50%;
  overflow: hidden;
  background: rgba(0,0,0,0.4);
  transition: all 0.6s ease;
}
.page-sixth ul li .mask .caption,
.page-seventh ul li .mask .caption {
  color: #fff;
  padding-top: 45px;
  margin-left: -90px;
  transition: all 0.6s ease;
}
.page-sixth ul li .mask .caption h3,
.page-seventh ul li .mask .caption h3 {
  font-size: 24px;
  margin: 0 0 5px;
}
.page-sixth ul li .mask .caption h4,
.page-seventh ul li .mask .caption h4 {
  font-size: 14px;
  margin: 0 0 40px;
}
.page-sixth ul li .mask .caption p,
.page-seventh ul li .mask .caption p {
  font-size: 18px;
}
.page-sixth ul li:hover .mask,
.page-seventh ul li:hover .mask {
  opacity: 1;
}
.page-sixth ul li:hover .mask .caption,
.page-seventh ul li:hover .mask .caption {
  margin-left: 0px;
}
.page-seventh ul {
  margin: 60px 0 0;
}
.page-eighth h2,
.page-ninth h2 {
  display: inline-block;
  font-size: 35px;
  margin: 50px 0 25px;
  padding: 0 0 5px;
  border-bottom: 3px solid #00f;
}
.page-eighth h3,
.page-ninth h3 {
  font-size: 25px;
  text-align: left;
  margin: 20px 0;
  padding: 10px 25px;
}
.page-eighth h3 span,
.page-ninth h3 span {
  margin: 0 0 0 15px;
  padding: 0 5px 5px;
}
.page-eighth h3 span.blue,
.page-ninth h3 span.blue {
  border-bottom: 3px solid #00f;
}
.page-eighth p,
.page-ninth p {
  font-size: 18px;
  text-align: left;
  padding: 15px 25px 15px 40px;
}
.page-ninth h3.first {
  margin-top: 30px;
}
.page-end {
  background: #009365;
  color: #fff;
}
.page-end h2 {
  font-size: 30px;
  line-height: 600px;
}
.page-end .qr-area {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
  color: #000;
  background: #fff;
}
.page-end .qr-area .text-area {
  width: 70%;
}
.page-end .qr-area .text-area h3 {
  font-size: 16px;
  margin: 15px 5px;
}
.page-end .qr-area .text-area p {
  font-size: 11px;
  margin: 20px 10px;
}
.page-end .qr-area .image-area {
  width: 30%;
}
.page-end .qr-area .image-area img {
  width: 100%;
}
.page .page-top_link {
  position: absolute;
  top: 5px;
  right: 5px;
}
.page .page-bottom_link {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.page .page-bottom_link img {
  transform: rotate(90deg);
}
