//-meta
-
  var pages = {
    top : {
      title : 'HOME GOLF -archive-',
      description : 'HOME GOLFのアーカイブページです。',
      keywords : 'HOME GOLF、ゴルフ、アーカイブ'
    }
    // content_b : {
    //   url : 'content_b.html',
    //   name : 'コンテントB',
    //   title : 'コンテントB',
    //   description : 'コンテントBです',
    //   keywords : 'コンテントB',
    //   image : 'img/ogp.jpg'
    // },
  }
