extends include/_layout
block vars
  include include/_meta
  - var key = "top"
  - var page = pages[key]
block css
  link(rel="stylesheet", href='./css/index.css')
block js
  script(src="./js/index.js")
block content
  #wrap
    #flipbook
      div.page.page-first
        h1 H424 -未来創造展作品-
        h2 「HOME GOLF」
        p.img
          img(src="./img/top.png" alt="HOEM-GOLF")
        .page-top_link
          img(src="./img/arrow.png" alt="arrow")
        .page-bottom_link
          img(src="./img/arrow.png" alt="arrow")
      div.page.page-second
        h2 - 目次 -
        ul
          li
            span.red 作品について
            | ・・・ P2 - 4
          li
            span.green メンバー一覧
            | ・・・ P5 - 8
          li
            span.blue 使用した技術
            | ・・・ P9 - 10
        .page-num -1-
      div.page.page-third
        .red-line
        h2 - 作品について -
        p.page-third-title
          | 朝起きてから、夜寝るまで毎日時間・場所を気にしないでゴルフをやりたい人のためのwebアプリ「
          strong HOME GORL
          | 」。
          br
          | HOME GOLFはタブレット上で動き、操作もとっても簡単ですのでいつでも、どこでも遊ぶことができます。
        h3 - 操作方法 -
        .step01
          h4 1. STARTボタンでゴルフスタート
          p.img
            img(src="./img/top.png")
        .page-num -2-
      div.page.page-fourth
        .red-line
        .step02
          h4 2. ステージの選択
          p.img
            img(src="./img/page2.png")
        .step03
          h4 3. スキルの選択
          p.img
            img(src="./img/page3.png")
        .page-num -3-
      div.page.page-fifth
        .red-line
        .step04
          h4 4. Let's play
          p.img
            img(src="./img/page4.png")
        .step05
          h4.more 5. 自分のスコアを確認
          p.img
            img(src="./img/page5.png")
        .page-num -4-
      div.page.page-sixth
        .green-line
        h2 - メンバー一覧 -
        ul
          li
            .left
              img(src="./img/member/ogushi.jpg" alt="小串")
              .mask
                .caption
                  h3 Leader
                  h4 - Presenter -
                  p 小串 泰斗
            .right
              p.text リーダーとして、みんなをまとめていくことが大変でした。
          li
            .left
              img(src="./img/member/seki.jpg" alt="関")
              .mask
                .caption
                  h3 Sub Leader
                  h4 - Engineer -
                  p 関 大智
            .right
              p.text 初めて使用する技術が多く大変だったが、楽しみながら製作することができた。
        .page-num -5-
      div.page.page-seventh
        .green-line
        ul
          li
            .left
              img(src="./img/member/shimizu.jpg" alt="清水")
              .mask
                .caption
                  h3 Member
                  h4 - Designer -
                  p 清水 勇太
            .right
              p.text ああああああ
          li
            .left
              img(src="./img/member/miwa.jpg" alt="三輪")
              .mask
                .caption
                  h3 Member
                  h4 - Engineer -
                  p 三輪 俊太郎
            .right
              p.text 今回の未来創造展は初めてのことがたくさんあったので、とても刺激的でした。
        .page-num -6-
      div.page.page-seventh
        .green-line
        ul
          li
            .left
              img(src="./img/member/aoki.jpg" alt="青木")
              .mask
                .caption
                  h3 Member
                  h4 - Project Members -
                  p 青木 龍矢
            .right
              p.text ああああああ
          li
            .left
              img(src="./img/member/noimage.jpg" alt="メンバー")
              .mask
                .caption
                  h3 Member
                  h4 - Project Members -
                  p メンバー
            .right
              p.text あああああああ
        .page-num -7-
      div.page.page-seventh
        .green-line
        ul
          li
            .left
              img(src="./img/member/noimage.jpg" alt="メンバー")
              .mask
                .caption
                  h3 Member
                  h4 - Project Members -
                  p メンバー
            .right
              p.text ああああああ
          li
            .left
              img(src="./img/member/noimage.jpg" alt="メンバー")
              .mask
                .caption
                  h3 Member
                  h4 - Project Members -
                  p メンバー
            .right
              p.text ああああああ
        .page-num -8-
      div.page.page-eighth
        .blue-line
        h2 - 使用した技術 -
        h3
          | ◇
          span.blue 言語
        p ◯ pug
        p ◯ stylus
        p ◯ Node.js
        p ◯ React.js
        p ◯ Node.js
        p ◯ Monaca
        .page-num -9-
      div.page.page-ninth
        .blue-line
        h3.first
          | ◇
          span.blue web-api
        p ◯ open-weather
        h3
          | ◇
          span.blue バックエンド
        p ◯ php
        p ◯ mysql
        h3
          | ◇
          span.blue プラグイン
        p ◯ box2d
        p ◯ weppack
        p ◯ jQuery
        .page-num -10-
      div.page.page-end
        h2 THE END
        .qr-area
          .text-area
            h3 WEB開発学科4年 H424
            p QRコード読み込みで特設SPサイトへ
          .image-area
            img(src="./img/qr.png" alt="QRコード")
        .page-num COPYRIGHT © 2018 H424 ALL RIGHTS RESERVED.
